h1 {
    text-align: center;
    font-family: 'Lilita One', cursive;
    color: rgba(104 127 152);
    font-size: 53pt;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
    
h2 {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 10px;
}
header div{
    text-align: center;
}

.separator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.center {
    text-align: center;
    padding: 20px;
}

.button-container {
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.display-container {
    /* border: 1px solid red;
    display: block;
    margin: 0 auto 0 auto;
    width: 50%; 
    padding-bottom: 0; */
    background: url(../images/sb21_series_mounted_snowblower.jpg) no-repeat center center;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    width: 50%;
    height: 300px; 
    background-size: 100%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
}


.display-container img {
    /* width: 90%;
    margin-left: auto;
    margin-right: auto; */

 }

.button{
    background: #eaa997;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-family: Pirou-Regular;

}
.button:hover {
    background: #555555;
    color: black;
    opacity: 0.6;
}

#alphabet {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
}
img svg{
    background: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    /* width: 50px; */
    height: 50px;
    fill: #eaa997;
}

@font-face {
    font-family: Pirou-Regular;
    src: url(pirou-regular.otf);
}

.answer-button {
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    display: inline-block;
    color: rgba(104 127 152);
    font-size: 23pt;
    padding-right: 5px;
    padding-left: 5px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

#display-progress {
    padding-top: 0;
    padding-bottom: 0;
}

.lives-left {
    font-family: 'Montserrat', sans-serif;
    /* display: inline-block; */
    color: rgba(104 127 152);
    padding-bottom: 0;
}

img {
    border-radius: 30px;
}
.word-input input {
    font-family: 'Lilita One', cursive;
    color: rgba(104 127 152);
    font-size: 20pt;
    display: block;
    align-items: center;
    /* border: 1pt solid red; */
    padding: 5pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

#bottom-buttons {
    font-family: 'Montserrat', sans-serif;    
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    color: rgba(104 127 152);
    text-align: center;
    cursor: pointer;
}

#test-image {
    background: url(../images/sb21_series_mounted_snowblower.jpg) no-repeat center center;
    border: 1px solid red;
    display: block;
    width: 50%;
    height: 233px; 
    background-size: 100%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#grid1 {
    background: white;
}

#grid2 {
    background: white;
}