h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

header {
    text-align: center;
}
header div{
    text-align: center;
}

.separator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
    padding: 20px;
}

.button-container {
    border: 5px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.display-container {
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.display-container img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 }