h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

footer {
    text-align: center;
}
header div{
    text-align: center;
}

.separator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
    padding: 20px;
}

.button-container {
    /* border: 5px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.display-container {
    /* border: 5px solid black; */
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto 0 auto;
    width: 50%; 
}

.display-container img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 }

.button{
    background: #eaa997;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-family: Pirou-Regular;

}
.button:hover {
    background: #555555;
    color: black;
    opacity: 0.6;
}

.button disabled {
    cursor: not-allowed;
}

#alphabet {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
}
img svg{
    background: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    /* width: 50px; */
    height: 50px;
    fill: #eaa997;
}

@font-face {
    font-family: Pirou-Regular;
    src: url(pirou-regular.otf);
}

.answer-button {
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    display: inline-block;
    color: rgba(104 127 152);
    font-size: 23pt;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}